services:

  frontend:
    build: ./frontend
    container_name: express-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"
