#  BACKEND DEPLOYMENT 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: project-root
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: docker.io/arghaghosh01/project-root-backend:latest
          ports:
            - containerPort: 6000
---
#  FRONTEND DEPLOYMENT 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: project-root
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: docker.io/arghaghosh01/project-root-frontend:latest
          ports:
            - containerPort: 3000

